/* Search Box Styling */
#search-box input {
  width: 100%;
  font-size: 11px;
  padding: 0px;
  margin: 0;
}

.ant-table-thead > tr > th {
  padding: 0px;
}

nz-table th {
  text-align: center;
}

.version-sample {
  flex-grow: 2;
  text-align: center;
}

.ant-btn {
  border: 0;
  background-color: transparent;
}

.workflow-snapshot {
  float: left;
  display: inline;
  border: 1px solid #343a40;
  width: 170px;
  height: 95px;
}

#exection-history-table {
  width: 100%;
  font-size: 11px;
  padding: 0px;
  margin: 0;
}

.bookmark-icon:hover {
  cursor: pointer;
}

.rename-icon:hover {
  color: #007bff;
}

@media (max-width: 600px) {
  .ant-table-cell {
    padding: 0px;
    font-size: 11px;
  }

  .ant-table-column-hide {
    display: none;
  }
}

.ant-table-cell {
  font-size: 11px;
  padding: 0px;
  min-width: 50px;
  box-sizing: border-box;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; /* Optional, for text clipping with an ellipsis */
  max-width: 0; /* Allows the cell to shrink, forcing text to wrap */
}

.ant-table {
  width: 100%;
  table-layout: fixed; /* Allows table to adapt based on content and container width */
}

// .ant-table-cell {
//   flex: 1;
//   min-width: 50px;
// }
