@import '../workspace.component.scss';
.texera-navigation-body {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns:
    130px
    5fr
    85fr
    10fr
    220px;
  grid-template-rows: 100%;
  box-shadow: 1px 1px 5px #b7b7b7;
  z-index: 1;
  position: relative;
  align-items: center;
  padding: 0px 16px 0px 16px;
}

.button {
  display: inherit;
  .btn.btn-secondary {
    margin-right: 5px;
  }
}

.texera-navigation-title {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 1;
}

.texera-navigation-utilities {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 1;
}

.texera-navigation-execute {
  grid-column-start: 3;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 1;
  justify-self: end;
}

.utility-button:hover {
  cursor: pointer;
  color: gray;
}

.utility-button-disabled {
  color: gray;
}

.utility-button-disabled:hover {
  color: gray;
}

.texera-navigation-run-text {
  font-size: 1rem;
}

.texera-navigation-run-button {
  margin-right: 3%;
  background-color: #5081F3;
  color: white;
  &:hover {
    background-color: #2E66E9;
  }
  .mat-raised-button {
    height: 30px;
  }
  .fa {
    padding-right: 6px;
  }
}

.version-number {
  font-size: 10px;
}

