.texera-navigation-padded {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  width: 100%;
  min-width:650px;
}

i {
  display: inline-flex;
  align-content: center;
  justify-content: center;
}

.stop-shadowing {
  font-size: 18px;
  width: min-content;
  text-align: end;
}

.workflow-name {
  margin-top: 1px;
  padding: 2px 8px;
  font-size: 18px;
  border: none;
  width: 30ch;
  &:hover {
    box-shadow: 0 0 0 1px rgb(202, 202, 202);
  }

  &:focus {
    box-shadow: 0 0 0 2px #007bff;
  }
}
.save-state {
  font-size: 10px;
  color: royalblue;
  font-style: italic;
}

.run-button {
  width: 140px;
  text-align: left;
}

.execution-name {
  margin-right: 0.5rem;
}

#expanded-utilities {
  display: inline-block;
  @media screen and (max-width: 1024px) {
    display: none;
  }
}

#expanded-utilities {
  display: inline-block;
  @media screen and (max-width: 960px) {
    display: none;
  }
}

#dropdown-button {
  @media screen and (min-width: 960px) {
    display: none;
  }
}


