
i {
  display: inline-flex;
}

.logo{
  height: 80px;
}

.texera-navigation-coeditor-icons {
  display: grid;
  grid-template-columns: repeat(5, 30px);
  grid-column: 5/5;
  justify-content: right;
  text-align: right;
  z-index: 2;
  overflow: visible;
}

.texera-navigation-shadowing-status {
  display: grid;
  grid-column: 4/4;
  grid-row: 1/2;
  z-index: 2;
  overflow: visible;
  justify-content: right;

  .stop-shadowing {
    font-size: 18px;
    width: min-content;
    text-align: end;
  }
}



.texera-navigation-workflow-metadata {
  padding-left: 10px;


  .workflow-name {
    padding: 2px 8px 2px 8px;
    margin: 0 8px 0 0;

    display: inline-block;
    min-width: 30ch;
    font-size: 18px;
    border: 0 none;
    outline: none; // some user agent stylesheets add an outline that interferes

    &:after {
      color: grey;
      font-style: italic;
    }

    &:empty:after {
      // strange firefox bug (completely empty inline-block floats up?)
      content: "\a0";
    }

    &:empty:not(:focus):after {
      content: attr(placeholder);
    }

    &:hover {
      box-shadow: 0 0 0 1px rgb(202, 202, 202);
    }

    &:focus {
      box-shadow: 0 0 0 2px #007bff;
    }
  }

  .save-state {
    font-size: 10px;
    color: royalblue;
    font-style: italic;
  }
}

.texera-navigation-execute {
  text-align: right;

  .texera-navigation-run-button {
    width: 16ch;
    text-align: left;
    z-index: 1;

    .texera-navigation-run-button-icon {
      width: max-content;
      padding-right: 8px;
    }
  }

  .texera-navigation-stop-button {
    width: 40px;
  }

  .animate-to-reveal-stop-button {
    transition: translate 0.3s ease-out;
    transition-delay: 0.1s;
  }
}

.reveal-stop-button {
  .animate-to-reveal-stop-button {
  }
}

.execution-name {
  margin-right: 0.5rem;
}
.execution-duration {
  color: #007bff;
}