#operator-menu-container {
  height: 100%;
  user-select: none;
  overflow-y: auto;
}

#search-box {
  padding: 5px;
  border-bottom: 1px solid #e0e0e0;
}

.operator-submenu-title {
  background-color: #fff;
}
.operator-submenu {
  border: none;
}