<!--
 Licensed to the Apache Software Foundation (ASF) under one
 or more contributor license agreements.  See the NOTICE file
 distributed with this work for additional information
 regarding copyright ownership.  The ASF licenses this file
 to you under the Apache License, Version 2.0 (the
 "License"); you may not use this file except in compliance
 with the License.  You may obtain a copy of the License at

   http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing,
 software distributed under the License is distributed on an
 "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 KIND, either express or implied.  See the License for the
 specific language governing permissions and limitations
 under the License.
-->

<div class="inconsistency-container">
  <div class="inconsistency-header">
    <h3>Data Inconsistencies</h3>
    <button
      *ngIf="inconsistencies.length > 0"
      nz-button
      nzType="text"
      nzSize="small"
      (click)="clearAll()"
      nz-tooltip
      nzTooltipTitle="Clear all inconsistencies">
      <i
        nz-icon
        nzType="delete"
        nzTheme="outline"></i>
    </button>
  </div>

  <div
    *ngIf="inconsistencies.length === 0"
    class="empty-state">
    <nz-empty
      nzNotFoundContent="No inconsistencies found"
      [nzNotFoundImage]="'simple'"></nz-empty>
  </div>

  <nz-list
    *ngIf="inconsistencies.length > 0"
    [nzDataSource]="inconsistencies"
    [nzRenderItem]="item">
    <ng-template
      #item
      let-inconsistency>
      <nz-list-item>
        <nz-card
          [nzTitle]="inconsistency.name"
          [nzExtra]="extraTemplate"
          class="inconsistency-card"
          (click)="onInconsistencyClick(inconsistency)"
          style="cursor: pointer;">
          <p>{{ inconsistency.description }}</p>
          <p class="operator-id"><strong>Operator:</strong> {{ inconsistency.operatorId }}</p>

          <ng-template #extraTemplate>
            <button
              nz-button
              nzType="text"
              nzSize="small"
              nzDanger
              (click)="deleteInconsistency(inconsistency.id); $event.stopPropagation()"
              nz-tooltip
              nzTooltipTitle="Delete">
              <i
                nz-icon
                nzType="close"
                nzTheme="outline"></i>
            </button>
          </ng-template>
        </nz-card>
      </nz-list-item>
    </ng-template>
  </nz-list>
</div>
