.input-group {
    display: flex;
    align-items: center;
  }
  
  .input-group input[nz-input] {
    flex: 1;
    margin-right: 8px;
  }
  
  .add-button {
    margin-left: 8px;
    white-space: nowrap;
    padding: 8 18px;  /* 调整按钮内边距，控制左右空间 */
    height: 25px;   /* 设置按钮高度 */
    font-size: 14px; /* 调整字体大小 */
    line-height: 1; /* 调整行高 */
  }