<div>
  <ng-container *ngFor="let user of coeditorPresenceService.coeditors">
    <div [innerHTML]="this.getCoeditorCursorStyles(user)"></div>
  </ng-container>

  <div id="code-editor-container"
       cdkDrag
       cdkDragBoundary="texera-workspace">
    <h1
      cdkDragHandle>
      Python Script
    </h1>
    <div
      #editor
      class="code-editor"></div>
  </div>
</div>

<button
  [mat-dialog-close]="true"
  class="close-button"
  mat-icon-button>
  <mat-icon
    class="close-icon"
    color="white"
    >close</mat-icon
  >
</button>
