#code-editor-container {
  position: fixed;
  left: 10px;
  top: 10px;
  z-index: 3;
  resize: both;
  overflow: hidden;
  width: 60vw;
  height: 60vh;
  min-width: 320px;
  min-height: 240px;
}

#title {
  background: #333333;
  color: #fff;
  text-align: center;
  margin: 0;
  padding: 10px;
}

#code-editor {
  width: 100%;
  height: 100%;
}

::ng-deep .yRemoteSelectionHead {
  position: absolute;
  border-left: solid 2px;
  border-top: solid 2px;
  border-bottom: solid 2px;
  height: 100%;
  box-sizing: border-box;
}

::ng-deep .yRemoteSelectionHead::after {
  position: absolute;
  content: " ";
  border: 3px solid;
  border-radius: 4px;
  left: -4px;
  top: -5px;
}
