<div *ngIf="displayTypeCastingSchemaInformation">
  <table mat-table [dataSource]="schemaToDisplay" class="mat-elevation-z8">
    <ng-container matColumnDef="attributeName">
      <th mat-header-cell *matHeaderCellDef> Attribute Name</th>
      <td mat-cell *matCellDef="let element"> {{element.attributeName}} </td>
    </ng-container>

    <ng-container matColumnDef="attributeType">
      <th mat-header-cell *matHeaderCellDef> Attribute Type </th>
      <td mat-cell *matCellDef="let element"> {{element.attributeType}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnNamesToDisplay"></tr>
    <tr mat-row *matRowDef="let row; columns: columnNamesToDisplay;"></tr>
  </table>
</div>
