<nz-modal [nzVisible]="isModalVisible" nzTitle = '{{dictionary.name}}' nz (nzOnCancel) = 'closeModal()'>
    <div class="modal-body">
        <nz-tag nzMode="closeable" *ngFor="let item of dictionary.items"
        (nzOnClose)="remove(item)">
          {{item}}
        </nz-tag>
      <br>
      <nz-divider></nz-divider>
      <br>
        <button nz-button (click)="addDictionaryItem()" class = "addbtn">Add</button>
        <input nz-input class = "addInput" *ngIf="ifAdd" [(ngModel)]="name" placeholder="Add into dictionary">
    </div>

    <div *nzModalFooter>
      <button nz-button nzType="primary" (click)="closeModal()" >Ok</button>
    </div>
</nz-modal>
