.about-page-container {
  display: flex;
  flex-direction: column;
  padding-left: 100px;
  align-items: center;
  height: 100%;
  width: 100%;
  overflow-y: auto;
}

.content {
  max-width: 1200px;
  width: 100%;
  text-align: left;
}

#logo {
  height: 70px;
  padding: 0;
  margin-right: 14px;
}

.workflow-gui-screenshot {
  width: 70%;
  height: 50%
}
