<div>
  <nz-table
    *ngIf="currentVersionsList"
    [nzData]="currentVersionsList"
    [nzShowSizeChanger]="true"
    [nzPageSizeOptions]="pageSizeOptions"
    [nzShowPagination]="isPagination"
    [nzPageSize]="pageSize"
    [nzPageIndex]="currentPageIndex"
    [nzTotal]="numOfVersion"
    [nzFrontPagination]="false"
    (nzPageSizeChange)="onPageSizeChange($event)"
    (nzPageIndexChange)="onPageIndexChange($event)"
  >
    <thead>
      <tr>
        <th *ngFor="let column of versionTableHeaders">{{column}}</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let row of currentVersionsList; let i=index;">
        <tr *ngIf="(!row.importance && row.expand) || row.importance">
          <td [nzShowExpand]="row.importance" [(nzExpand)]="row.expand" (nzExpandChange)="collapse(i, $event)">
            {{ numOfVersion - (i + (currentPageIndex - 1) * pageSize) }}
          </td>
          <td nzEllipsis (click)="getVersion(row.vId)">{{row.creationTime | date:'MM/dd/yyyy HH:mm:ss zzz'}}</td>
        </tr>
      </ng-container>
    </tbody>
  </nz-table>
</div>
