<nz-modal
  [(nzVisible)]="isVisible"
  nzTitle="Cluster Management"
  (nzOnCancel)="closeClusterManagementModal()"
  (nzOnOk)="submitCluster()">
  <ng-container *nzModalContent>
    <form
      nz-form
      [formGroup]="clusterForm"
      class="machine-form"
      (ngSubmit)="submitCluster()">
      <nz-form-item>
        <nz-form-control nzErrorTip="Please enter a name!">
          <nz-input-group nzPrefixIcon="edit">
            <input
              nz-input
              placeholder="Enter a name for your clusters"
              formControlName="Name" />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control nzErrorTip="Please select the machine type!">
          <nz-input-group nzPrefixIcon="setting">
            <nz-select
              formControlName="machineType"
              nzPlaceHolder="Select Machine Type">
              <nz-option
                *ngFor="let option of machineOptions"
                [nzValue]="option.value"
                [nzLabel]="option.label">
              </nz-option>
            </nz-select>
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-control nzErrorTip="Please select the number of machines!">
          <nz-input-group nzPrefixIcon="number">
            <nz-select
              formControlName="numberOfMachines"
              nzPlaceHolder="Number of machines">
              <nz-option
                *ngFor="let num of machineNumbers"
                [nzValue]="num"
                [nzLabel]="num"></nz-option>
            </nz-select>
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
    </form>
  </ng-container>
</nz-modal>
