.extra-width{
  width:110px;
}

.role{
  border-radius: 50px;
  color:white;
  display: block;
  width: 80px;
  text-align: center;
}

.c0{
  background-color:	lightskyblue;
}

.c1{
  background-color:	lightseagreen;
}

.c2{
  background-color:lightcoral;
}