<div class="section-container subsection-grid-container">
  <nz-card class="section-title">
    <h2 class="page-title">Workflows</h2>
    <nz-button-group
      class="utility-button-group"
      ngbDropdown>
      <a
        [nzDropdownMenu]="sortOptions"
        nz-dropdown>
        <button
          id="sortDropdown"
          ngbDropdownToggle
          nz-button>
          <i
            nz-icon
            nzTheme="outline"
            nzType="sort-ascending"></i>
        </button>
      </a>
      <nz-dropdown-menu #sortOptions="nzDropdownMenu">
        <ul nz-menu>
          <li nz-menu-item>
            <button
              (click)="lastSort()"
              class="sorting_func"
              nz-button>
              By Edit Time
            </button>
          </li>
          <li nz-menu-item>
            <button
              (click)="dateSort()"
              class="sorting_func"
              nz-button>
              By Create Time
            </button>
          </li>
          <li nz-menu-item>
            <button
              (click)="ascSort()"
              class="sorting_func"
              nz-button>
              A -> Z
            </button>
          </li>
          <li nz-menu-item>
            <button
              (click)="dscSort()"
              class="sorting_func"
              nz-button>
              Z -> A
            </button>
          </li>
        </ul>
      </nz-dropdown-menu>
      <button
        (click)="onClickCreateNewWorkflowFromDashboard()"
        nz-button
        nz-tooltip="Create a new workflow"
        nzTooltipPlacement="bottom"
        type="button">
        <i
          nz-icon
          nzTheme="outline"
          nzType="file-add"></i>
      </button>
      <button
        (click)="onClickOpenDownloadZip()"
        [disabled]="downloadListWorkflow.size === 0"
        nz-button
        nz-tooltip="Download added workflow as a ZIP file"
        nzTooltipPlacement="bottom"
        type="button">
        <i
          nz-icon
          nzTheme="outline"
          nzType="cloud-download"></i>
      </button>
      <nz-upload [nzBeforeUpload]="onClickUploadExistingWorkflowFromLocal">
        <button
          nz-button
          nz-tooltip="Upload ZIP/JSON file as workflow"
          nzTooltipPlacement="bottom"
          type="button">
          <i
            nz-icon
            nzTheme="outline"
            nzType="cloud-upload"></i>
        </button>
      </nz-upload>

      <button
        (click)="onClickOpenAddWorkflow()"
        *ngIf="pid !== 0"
        nz-button
        nz-tooltip="Add workflow(s) to project"
        nzTooltipPlacement="bottom"
        type="button">
        <i
          nz-icon
          nzTheme="outline"
          nzType="plus-square"></i>
      </button>
      <button
        (click)="onClickOpenRemoveWorkflow()"
        *ngIf="pid !== 0"
        nz-button
        nz-tooltip="Remove workflow(s) from project"
        nzTooltipPlacement="bottom"
        type="button">
        <i
          nz-icon
          nzTheme="outline"
          nzType="minus-square"></i>
      </button>
    </nz-button-group>

    <nz-button-group
      class="filter-button-group"
      ngbDropdown>
      <a
        [nzDropdownMenu]="mtimeSearchOptions"
        [nzOverlayStyle]="{'border-style': 'double'}"
        class="modification-time-button"
        nz-dropdown
        nzTrigger="click">
        <button
          id="mtimeSort"
          ngbDropdownToggle
          nz-button>
          <i
            nz-icon
            nz-tooltip="Modification Time"
            nzTheme="outline"
            nzType="form"></i>
        </button>
      </a>

      <nz-dropdown-menu #mtimeSearchOptions="nzDropdownMenu">
        <nz-range-picker
          (ngModelChange)="searchWorkflow()"
          [(ngModel)]="selectedMtime"
          ngDefaultControl
          nzInline></nz-range-picker>
      </nz-dropdown-menu>

      <a
        [nzDropdownMenu]="ctimeSearchOptions"
        [nzOverlayStyle]="{'border-style': 'double'}"
        class="search-creation-time-button"
        nz-dropdown
        nzTrigger="click">
        <button
          id="ctimeSort"
          ngbDropdownToggle
          nz-button>
          <i
            nz-icon
            nz-tooltip="Creation Time"
            nzTheme="outline"
            nzType="calendar"></i>
        </button>
      </a>
      <nz-dropdown-menu #ctimeSearchOptions="nzDropdownMenu">
        <nz-range-picker
          (ngModelChange)="searchWorkflow()"
          [(ngModel)]="selectedCtime"
          ngDefaultControl
          nzInline></nz-range-picker>
      </nz-dropdown-menu>

      <a
        [nzDropdownMenu]="ownerSearchOptions"
        [nzOverlayStyle]="{'overflow-y': 'scroll', 'max-height': '250px', 'border-style': 'double'}"
        class="search-owners-button"
        nz-dropdown
        nzTrigger="click">
        <button
          id="sortOwner"
          ngbDropdownToggle
          nz-button>
          <i
            nz-icon
            nz-tooltip="Owner"
            nzTheme="outline"
            nzType="user"></i>
        </button>
      </a>
      <nz-dropdown-menu #ownerSearchOptions="nzDropdownMenu">
        <ul
          *ngFor="let owner of owners"
          nz-menu>
          <li nz-menu-item>
            <label
              (ngModelChange)="updateSelectedOwners()"
              [(ngModel)]="owner.checked"
              ngDefaultControl
              nz-checkbox
              >{{owner.userName}}</label
            >
          </li>
        </ul>
      </nz-dropdown-menu>

      <a
        [nzDropdownMenu]="IDSearchOptions"
        [nzOverlayStyle]="{'overflow-y': 'scroll', 'max-height': '250px', 'border-style': 'double'}"
        class="search-wids-button"
        nz-dropdown
        nzTrigger="click">
        <button
          id="sortID"
          ngbDropdownToggle
          nz-button>
          <i
            nz-icon
            nz-tooltip="Workflow ID"
            nzTheme="outline"
            nzType="ordered-list"></i>
        </button>
      </a>
      <nz-dropdown-menu #IDSearchOptions="nzDropdownMenu">
        <ul
          *ngFor="let wid of wids"
          nz-menu>
          <li nz-menu-item>
            <label
              (ngModelChange)="updateSelectedIDs()"
              [(ngModel)]="wid.checked"
              ngDefaultControl
              nz-checkbox
              >{{wid.id}}</label
            >
          </li>
        </ul>
      </nz-dropdown-menu>

      <a
        [nzDropdownMenu]="operatorSearchOptions"
        [nzOverlayStyle]="{'border-style': 'double'}"
        class="search-operators-button"
        nz-dropdown
        nzTrigger="click">
        <button
          id="sortOperator"
          ngbDropdownToggle
          nz-button>
          <i
            nz-icon
            nz-tooltip="Operators"
            nzTheme="outline"
            nzType="appstore"></i>
        </button>
      </a>
      <nz-dropdown-menu #operatorSearchOptions="nzDropdownMenu">
        <ul
          *ngFor="let group of operatorGroups"
          nz-menu>
          <li
            nz-submenu
            nzTitle="{{group}}">
            <ul *ngFor="let operator of operators.get(group)">
              <li nz-menu-item>
                <label
                  (ngModelChange)="updateSelectedOperators()"
                  [(ngModel)]="operator.checked"
                  ngDefaultControl
                  nz-checkbox
                  >{{operator.userFriendlyName}}</label
                >
              </li>
            </ul>
          </li>
        </ul>
      </nz-dropdown-menu>

      <a
        [nzDropdownMenu]="projectSearchOptions"
        [nzOverlayStyle]="{'overflow-y': 'scroll', 'max-height': '250px', 'border-style': 'double'}"
        class="search-projects-button"
        nz-dropdown
        nzTrigger="click">
        <button
          id="sortProject"
          ngbDropdownToggle
          nz-button>
          <i
            nz-icon
            nz-tooltip="Projects"
            nzTheme="outline"
            nzType="file"></i>
        </button>
      </a>
      <nz-dropdown-menu #projectSearchOptions="nzDropdownMenu">
        <ul
          *ngFor="let project of userProjectsDropdown"
          nz-menu>
          <li nz-menu-item>
            <label
              (ngModelChange)="updateSelectedProjects()"
              [(ngModel)]="project.checked"
              ngDefaultControl
              nz-checkbox
              >{{project.name}}</label
            >
          </li>
        </ul>
      </nz-dropdown-menu>
    </nz-button-group>
  </nz-card>

  <div class="section-search-bar workflow-search-bar">
    <i
      [nzPopoverContent]="filterPopContent"
      class="search-info-box"
      nz-icon
      nz-popover
      nzPopoverTitle="Filter Instructions"
      nzTheme="outline"
      nzType="question-circle"></i>
    <nz-select
      (ngModelChange)="updateDropdownMenus($event)"
      [(ngModel)]="masterFilterList"
      [nzAllowClear]="true"
      [nzBorderless]="true"
      [nzOpen]="false"
      class="search-input-box"
      ngDefaultControl
      nzMode="tags"
      nzPlaceHolder="Search all workflows">
    </nz-select>
    <ng-template #filterPopContent>
      We support the following search criteria:
      <ul>
        <li>Search by Workflow Name: <strong>workflowName</strong></li>
        <li>Search by Workflow Creation Time: <strong>ctime: yyyy-MM-dd</strong></li>
        <li>Search by Workflow Modification Time: <strong>mtime: yyyy-MM-dd</strong></li>
        <li>Search by Workflow Owner: <strong>owner: John</strong></li>
        <li>Search by Workflow Id: <strong>id: workflowId</strong></li>
        <li>Search by Workflows' Operators: <strong>operator: operatorName</strong></li>
        <li>Search by User Projects: <strong>project: projectName</strong></li>
      </ul>
      You can change search parameters by:
      <ul>
        <li>selecting/unselecting dropdown menu options</li>
        <li>manually typing parameters into search bar</li>
        <li>clicking the <strong>X</strong> on a tag or the search bar, to clear one or all tags</li>
      </ul>
      <br />
      Example: "Untitled Workflow" id:1 owner:John<br />
      Meaning: Search for the workflow with name Untitled Workflow, id 1, and the owner called John.
    </ng-template>
  </div>

  <nz-card class="section-list-container">
    <!-- itemSize: the height (px) of each list item,
      this MUST be approximately the same as list item size set in CSS,
      .workflow-list-item sets the item size to be 70px, with additional paddings/margins it's approximately 80px
    -->
    <cdk-virtual-scroll-viewport
      class="virtual-scroll-container"
      itemSize="80">
      <nz-list>
        <nz-list-item
          *cdkVirtualFor="let dashboardWorkflowEntry of dashboardWorkflowEntries;let indexOfElement=index"
          class="workflow-list-item">
          <nz-list-item-meta>
            <nz-list-item-meta-avatar>
              <label
                (change)="onClickAddToDownload(dashboardWorkflowEntry, $event)"
                class="workflow-item-checkbox"
                id="{{dashboardWorkflowEntry.workflow.wid}}"
                nz-checkbox></label>
              <nz-avatar
                [ngStyle]="{ 'background-color': 'grey' }"
                [nzGap]="4"
                [nzText]="'' + dashboardWorkflowEntry.workflow.wid"
                nzSize="default"
                style="vertical-align: middle"></nz-avatar>
            </nz-list-item-meta-avatar>

            <!-- editable name of saved workflow -->
            <nz-list-item-meta-title class="meta-title-container">
              <div class="workflow-item-meta-title">
                <a
                  *ngIf="dashboardWorkflowEntriesIsEditingName.indexOf(indexOfElement) === -1; else customWorkflowTitle "
                  [routerLink]="ROUTER_WORKFLOW_BASE_URL + '/' + dashboardWorkflowEntry.workflow.wid"
                  class="workflow-name"
                  >{{ dashboardWorkflowEntry.workflow.name }}</a
                >
                <ng-template #customWorkflowTitle>
                  <input
                    #customName
                    (focusout)="confirmUpdateWorkflowCustomName(dashboardWorkflowEntry, customName.value, indexOfElement)"
                    (keyup.enter)="confirmUpdateWorkflowCustomName(dashboardWorkflowEntry, customName.value, indexOfElement)"
                    placeholder="{{ dashboardWorkflowEntry.workflow.name }}"
                    value="{{ dashboardWorkflowEntry.workflow.name }}" />
                </ng-template>
                <button
                  (click)="dashboardWorkflowEntriesIsEditingName.push(indexOfElement)"
                  nz-button
                  nz-tooltip="Customize Workflow Name"
                  nzSize="small"
                  nzTooltipPlacement="bottom"
                  nzType="text">
                  <i
                    nz-icon
                    nzTheme="outline"
                    nzType="edit"></i>
                </button>
                <button
                  (click)="dashboardWorkflowEntriesIsEditingDescription.push(indexOfElement)"
                  class="add-description-btn"
                  nz-button
                  nz-tooltip="Add Description"
                  nzSize="small"
                  nzTooltipPlacement="bottom"
                  nzType="text">
                  <i
                    nz-icon
                    nzTheme="outline"
                    nzType="plus-square"></i>
                </button>
                <i
                  *ngIf="dashboardWorkflowEntry.isOwner"
                  class="workflow-is-owner-icon"
                  ngbTooltip="You are the owner"
                  nz-icon
                  nzTheme="outline"
                  nzType="user"></i>
                <i
                  *ngIf="!dashboardWorkflowEntry.isOwner"
                  ngbTooltip="{{
									dashboardWorkflowEntry.accessLevel
								}} access shared by {{ dashboardWorkflowEntry.ownerName }}"
                  nz-icon
                  nzTheme="outline"
                  nzType="team"></i>
              </div>
            </nz-list-item-meta-title>

            <!-- editable description of saved workflow -->
            <nz-list-item-meta-description>
              <div class="workflow-item-meta-description">
                <label
                  (click)="dashboardWorkflowEntriesIsEditingDescription.push(indexOfElement)"
                  *ngIf="(dashboardWorkflowEntriesIsEditingDescription.indexOf(indexOfElement) === -1); else customWorkflowDescription "
                  class="workflow-description">
                  {{ dashboardWorkflowEntry.workflow.description }}
                </label>
                <ng-template #customWorkflowDescription>
                  <input
                    #customDescription
                    (focusout)="confirmUpdateWorkflowCustomDescription(dashboardWorkflowEntry, customDescription.value, indexOfElement)"
                    (keyup.enter)="confirmUpdateWorkflowCustomDescription(dashboardWorkflowEntry, customDescription.value, indexOfElement)"
                    class="workflow-editable-description"
                    maxlength="500"
                    value="{{ dashboardWorkflowEntry.workflow.description }}" />
                </ng-template>
              </div>
            </nz-list-item-meta-description>

            <!-- last access and created date of saved workflow -->
            <nz-list-item-meta-description class="metadata-container">
              <span
                >Last Modified: {{ dashboardWorkflowEntry.workflow.lastModifiedTime | date: "yyyy-MM-dd HH:mm" }}</span
              >
              <span>Created: {{ dashboardWorkflowEntry.workflow.creationTime | date: "yyyy-MM-dd HH:mm" }}</span>
            </nz-list-item-meta-description>
          </nz-list-item-meta>

          <div
            *ngIf="userProjectsLoaded"
            class="project-label-container">
            <div
              *ngFor="let projectID of dashboardWorkflowEntry.projectIDs"
              class="project-label">
              <a
                *ngIf="userProjectsMap.has(projectID) && userProjectsMap.get(projectID)!.color !== null && projectID !== pid"
                [ngClass]="{'color-tag' : true, 'light-color' : colorBrightnessMap.get(projectID), 'dark-color' : !colorBrightnessMap.get(projectID)}"
                [ngStyle]="{'color' : colorBrightnessMap.get(projectID) ? 'black' : 'white', 'background-color' : '#' + userProjectsMap.get(projectID)!.color}"
                [routerLink]="ROUTER_USER_PROJECT_BASE_URL + '/' + userProjectsMap.get(projectID)!.pid"
                class="project-label-name"
                nz-tooltip="{{userProjectsMap.get(projectID)!.name}}"
                nzTooltipPlacement="bottom">
                {{userProjectsMap.get(projectID)!.name | shorten: 15 }}
              </a>
              <div
                (click)="removeWorkflowFromProject(projectID, dashboardWorkflowEntry, indexOfElement)"
                *ngIf="userProjectsMap.has(projectID) && userProjectsMap.get(projectID)!.color !== null && projectID !== pid"
                [ngClass]="{'color-tag' : true, 'light-color' : colorBrightnessMap.get(projectID), 'dark-color' : !colorBrightnessMap.get(projectID)}"
                [ngStyle]="{'color' : colorBrightnessMap.get(projectID) ? 'black' : 'white', 'background-color' : '#' + userProjectsMap.get(projectID)!.color}"
                class="project-label-remove"
                nz-tooltip="Remove from project"
                nzTooltipPlacement="bottom">
                x
              </div>
            </div>
          </div>

          <ul nz-list-item-actions>
            <nz-list-item-action>
              <button
                (click)="onClickOpenShareAccess(dashboardWorkflowEntry)"
                [disabled]="!dashboardWorkflowEntry.isOwner"
                nz-button
                nz-tooltip="Share the workflow {{
								dashboardWorkflowEntry.workflow.name
							}} to others"
                nzTooltipPlacement="bottom"
                type="button">
                <i
                  nz-icon
                  nzTheme="outline"
                  nzType="share-alt"></i>
              </button>
            </nz-list-item-action>
            <nz-list-item-action>
              <button
                (click)="onClickDuplicateWorkflow(dashboardWorkflowEntry)"
                class="duplicate-workflow-btn"
                nz-button
                nz-tooltip="Duplicate the workflow {{
								dashboardWorkflowEntry.workflow.name
							}}"
                nzTooltipPlacement="bottom"
                type="button">
                <i
                  nz-icon
                  nzTheme="outline"
                  nzType="copy"></i>
              </button>
            </nz-list-item-action>
            <nz-list-item-action>
              <button
                (click)="onClickDownloadWorkfllow(dashboardWorkflowEntry)"
                nz-button
                nz-tooltip="Download the workflow {{
								dashboardWorkflowEntry.workflow.name
							}}"
                nzTooltipPlacement="bottom"
                type="button">
                <i
                  nz-icon
                  nzTheme="outline"
                  nzType="cloud-download"></i>
              </button>
            </nz-list-item-action>
            <nz-list-item-action>
              <button
                (nzOnConfirm)="deleteWorkflow(dashboardWorkflowEntry)"
                [disabled]="!dashboardWorkflowEntry.isOwner"
                class="delete-workflow-btn"
                nz-button
                nz-popconfirm
                nz-tooltip="Delete the workflow {{
								dashboardWorkflowEntry.workflow.name
							}}"
                nzPopconfirmTitle="Confirm to delete this workflow."
                nzTooltipPlacement="bottom">
                <i
                  nz-icon
                  nzTheme="outline"
                  nzType="delete"></i>
              </button>
            </nz-list-item-action>
            <nz-list-item-action *ngIf="workflowExecutionsTrackingEnabled">
              <button
                (click)="onClickGetWorkflowExecutions(dashboardWorkflowEntry)"
                nz-button
                nz-tooltip="Executions of the workflow {{
								dashboardWorkflowEntry.workflow.name
							}}"
                nzTooltipPlacement="bottom"
                type="button">
                <i
                  nz-icon
                  nzTheme="outline"
                  nzType="history"></i>
              </button>
            </nz-list-item-action>
          </ul>
        </nz-list-item>
      </nz-list>
    </cdk-virtual-scroll-viewport>
  </nz-card>
</div>
