<div class="section-container subsection-grid-container">
  <nz-card class="section-title">
    <h2 class="page-title">Users</h2>
    <div class="d-inline-block">
      <a nz-dropdown [nzDropdownMenu]="menu">
        <button nz-button>
          <i nz-icon nzTheme="outline" nzType="sort-ascending"></i>
        </button>
      </a>
      <nz-dropdown-menu #menu="nzDropdownMenu">
        <ul nz-menu nzSelectable>
          <li (click)="ascSort()" nz-menu-item>A -> Z</li>
          <li (click)="dscSort()" nz-menu-item>Z -> A</li>
          <li (click)="timeSortDesc()" nz-menu-item>Newest</li>
          <li (click)="timeSortAsc()" nz-menu-item>Oldest</li>
        </ul>
      </nz-dropdown-menu>

    </div>
  </nz-card>
  <nz-card class="section-list-container">
    <cdk-virtual-scroll-viewport itemSize="80" class="virtual-scroll-container">
      <nz-list>
        <nz-list-item *cdkVirtualFor="let UserEntry of getUserArray();">
            <nz-list-item-meta-title>
                <nz-select [nzShowArrow]=false ngModel="{{UserEntry.permission}}" (ngModelChange)="updatePermission(UserEntry.uid,$event)" [nzCustomTemplate]="permissionTemplate" nzBorderless>
                  <nz-option nzValue="0" nzLabel="Pending" nzCustomContent><span class="left-padding permission c0">Pending</span></nz-option>
                  <nz-option nzValue="1" nzLabel="Approved" nzCustomContent><span class="left-padding permission c1">Approved</span></nz-option>
                  <nz-option nzValue="2" nzLabel="Admin" nzCustomContent><span class="left-padding permission c2">Admin</span></nz-option>
                </nz-select>
                <ng-template #permissionTemplate let-selected>
                  <span nz-icon nzType="down" nzTheme="outline" style="verticalAlign: 'middle';padding-right:4px;padding-bottom:2px;"></span><span class="permission c{{selected.nzValue}}">{{selected.nzLabel}}</span>
                </ng-template>
              <span class="email">{{ UserEntry.name }}</span>
            </nz-list-item-meta-title>
        </nz-list-item>
      </nz-list>
    </cdk-virtual-scroll-viewport>
  </nz-card>
</div>
