<div class="section-container subsection-grid-container">
  <nz-card class="section-title">
    <h2 class="page-title">Users</h2>
  </nz-card>
  <nz-card>
    <nz-table #basicTable [nzData]="getUserArray()">
      <thead>
      <tr>
        <th [nzSortFn]="sort">ID</th>
        <th>Icon</th>
        <th [nzSortFn]="sort">Name</th>
        <th [nzSortFn]="sort">Email</th>
        <th>Permission</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let data of basicTable.data">
        <td>{{data.uid}}</td>
        <td>
          <texera-user-avatar class="user-avatar" [googleId]="data.googleId"></texera-user-avatar>
        </td>
        <td>{{data.name}}</td>
        <td>{{data.email}}</td>
        <td>
          <nz-select [nzShowArrow]=false ngModel="{{data.permission}}" (ngModelChange)="updatePermission(data.uid,$event)" [nzCustomTemplate]="permissionTemplate" nzBorderless class="extra-width">
            <nz-option nzValue="0" nzLabel="Pending" nzCustomContent><span class="permission c0">Pending</span></nz-option>
            <nz-option nzValue="1" nzLabel="Approved" nzCustomContent><span class="permission c1">Approved</span></nz-option>
            <nz-option nzValue="2" nzLabel="Admin" nzCustomContent><span class="permission c2">Admin</span></nz-option>
          </nz-select>
        </td>


      </tr>
      </tbody>
    </nz-table>
    <ng-template #permissionTemplate let-selected>
      <span class="permission c{{selected.nzValue}}">{{selected.nzLabel}}</span>
    </ng-template>
  </nz-card>
</div>
