// reuse the same layout and styling with saved workflow component
@import "../saved-workflow-section/saved-workflow-section.component.scss";

/**
  * css specifically for each file item in the list (not shared by workflow items)
  **/

.ant-select-item-option-content{
  text-align:right;
}

.left-padding{
  margin-left:15.5px;
}

.permission{
  border-radius: 50px;
  color:white;
  margin-right: 0;
}

.c0{
  background-color:black;
  padding: 2px 16.82px;
}

.c1{
  background-color:green;
  padding: 2px 11.58px;
}

.c2{
  background-color:red;
  padding: 2px 21.68px;
}

.file-list-item {
  margin-bottom: 10px;
  min-height: 70px;
  padding: 5px 0 5px 0;

  .file-item-meta-title {
    display: flex;
    align-items: center;
  }
}

.email{
  font-size: 18px;
}
