<!--
 Licensed to the Apache Software Foundation (ASF) under one
 or more contributor license agreements.  See the NOTICE file
 distributed with this work for additional information
 regarding copyright ownership.  The ASF licenses this file
 to you under the Apache License, Version 2.0 (the
 "License"); you may not use this file except in compliance
 with the License.  You may obtain a copy of the License at

   http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing,
 software distributed under the License is distributed on an
 "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 KIND, either express or implied.  See the License for the
 specific language governing permissions and limitations
 under the License.
-->

<div class="project-detail-page">
  <a
    [routerLink]="DASHBOARD_USER_PROJECT"
    class="back-link">
    <i
      nz-icon
      nzType="left"
      nzTheme="outline"></i>
    Back to Projects
  </a>

  <header
    class="detail-header"
    *ngIf="projectDataIsLoaded">
    <div
      class="project-icon"
      [ngStyle]="{ 'background-color': '#' + bgColorHex }">
      {{ icon }}
    </div>
    <div class="header-text">
      <h1 class="detail-title">{{ name }}</h1>
      <div
        *ngIf="description && description.trim()"
        class="detail-description">
        <markdown [data]="description"></markdown>
      </div>
    </div>
    <div class="header-actions">
      <button
        nz-button
        (click)="openEditDialog()"
        [disabled]="!canEdit"
        nz-tooltip="Edit project"
        nzTooltipPlacement="bottom">
        <i
          nz-icon
          nzTheme="outline"
          nzType="edit"></i>
        Edit
      </button>
      <button
        nz-button
        nzDanger
        nz-popconfirm
        nzPopconfirmTitle="Delete this project? Workflows inside will not be deleted."
        (nzOnConfirm)="confirmDelete()"
        [disabled]="!canEdit"
        nz-tooltip="Delete project"
        nzTooltipPlacement="bottom">
        <i
          nz-icon
          nzTheme="outline"
          nzType="delete"></i>
        Delete
      </button>
    </div>
  </header>

  <nz-tabs
    *ngIf="projectDataIsLoaded"
    class="detail-tabs">
    <nz-tab nzTitle="Workflows">
      <texera-saved-workflow-section
        [pid]="pid"
        [accessLevel]="accessLevel"></texera-saved-workflow-section>
    </nz-tab>

    <nz-tab nzTitle="Datasets">
      <div class="coming-soon">
        <div class="coming-soon-emoji">📊</div>
        <h3>Datasets coming soon</h3>
        <p>Connect datasets to this project to keep related data and workflows in one place.</p>
      </div>
    </nz-tab>

    <nz-tab nzTitle="Members">
      <div class="members-tab">
        <texera-share-access
          [type]="'project'"
          [id]="pid!"></texera-share-access>
      </div>
    </nz-tab>
  </nz-tabs>
</div>
