<div class="settings-container">
  <h4>Workflow Settings</h4>
  <form
    [formGroup]="settingsForm"
    class="form-inline">
    <div class="form-group">
      <label for="batchSize">Batch Size:</label>
      <input
        id="batchSize"
        type="number"
        formControlName="batchSize"
        [ngClass]="{'is-invalid': settingsForm.get('batchSize')?.invalid && settingsForm.get('batchSize')?.touched}"
        class="form-control" />
      <div
        *ngIf="settingsForm.get('batchSize')?.invalid && settingsForm.get('batchSize')?.touched"
        class="error-message">
        Batch size must be at least 1.
      </div>
    </div>
  </form>
</div>
