<div id="search-box">
  <input
    placeholder="search operator"
    nz-input
    [(ngModel)]="searchInputValue"
    (input)="onInput($event)"
    [nzAutocomplete]="autocomplete" />
  <nz-autocomplete
    #autocomplete
    [nzBackfill]="false"
    (selectionChange)="onSelectionChange($event)">
    <nz-auto-option
      *ngFor="let option of autocompleteOptions"
      [nzValue]="option"
      [nzLabel]="option.additionalMetadata.userFriendlyName"
      [nzDisabled]="! canModify">
      <texera-operator-label [operator]="option"></texera-operator-label>
    </nz-auto-option>
  </nz-autocomplete>
</div>

<div id = "spacer"></div>

<ng-container *ngTemplateOutlet="itemTemplate; context: { $implicit: groupNames }"></ng-container>

<ng-template #itemTemplate let-groupNames>
  <nz-collapse
    id="operator-menu"
    [nzBordered]="false"
    nzAccordion>
    <nz-collapse-panel
      *ngFor="let groupname of groupNames"
      [nzHeader]="groupname.groupName"
      class="operator-submenu-title">
      <ng-container *ngFor="let operatorSchema of opList.get(groupname.groupName)">
        <div class="texera-operator-label">
          <texera-operator-label [operator]="operatorSchema"></texera-operator-label>
        </div>
      </ng-container>
      <ng-container *ngTemplateOutlet="itemTemplate; context: { $implicit: groupname.children }"></ng-container>
    </nz-collapse-panel>
  </nz-collapse>
</ng-template>

