<div id="search-box">
  <input
    placeholder="search operator"
    nz-input
    [(ngModel)]="searchInputValue"
    (input)="onInput($event)"
    [nzAutocomplete]="autocomplete" />
  <nz-autocomplete
    #autocomplete
    [nzBackfill]="false"
    (selectionChange)="onSelectionChange($event)">
    <nz-auto-option
      *ngFor="let option of autocompleteOptions"
      [nzValue]="option"
      [nzLabel]="option.additionalMetadata.userFriendlyName"
      [nzDisabled]="! canModify">
      <texera-operator-label [operator]="option"></texera-operator-label>
    </nz-auto-option>
  </nz-autocomplete>
</div>
<nz-collapse
  id="operator-menu"
  [nzBordered]="false"
  nzAccordion>
  <nz-collapse-panel
    *ngFor="let groupName of groupNamesOrdered"
    [nzHeader]="groupName"
    class="operator-submenu-title">
    <texera-recursive-collapse [operators]="operatorGroupMap.get(groupName)"></texera-recursive-collapse>
  </nz-collapse-panel>
</nz-collapse>
