@import "../workspace.component.scss";

// CSS properties to make drop-down menu display long text in multiple lines
// solution from https://stackoverflow.com/questions/52832889/not-enough-space-in-mat-select-how-to-add-multiple-line-mat-option
// !important is used to override Angular's default styles

// the following styles are for dropdown menu

.property-editor {
  padding: 16px;
}

//åŠ 
#property-editor-container {
  position: fixed;
  top: 80px;
  right: 0px;
  width: 50%;
  z-index: 3;
  user-select: none;
  background: white;
  border-radius: 3px;
}

#right-panel-content {
  min-height: 100%;
  max-height: calc(100vh - 200px);
  overflow-y: auto;
  display: inline-block;
  width: calc(100% - 47px);
}

#title {
  padding: 10px 0 4px 15px;
}

#dock {
  display: inline-block;
  vertical-align: top;
  padding-bottom: 10px;
}

.texera-workspace-property-editor-body {
  padding: 16px;
}
