.property-editor {
  padding: 16px;
}

#property-editor-container {
  position: fixed;
  top: 90px;
  right: 15px;
  z-index: 3;
  user-select: none;
  background: white;
}

#right-panel-content {
  min-height: 100%;
  max-height: calc(100vh - 200px);
  overflow-y: auto;
  display: inline-block;
  width: 100%;
}

#title {
  padding: 10px 0 4px 15px;
}

#dock {
  display: inline-block;
  vertical-align: top;
  padding-bottom: 10px;
}