@import "../workspace.component.scss";

// CSS properties to make drop-down menu display long text in multiple lines
// solution from https://stackoverflow.com/questions/52832889/not-enough-space-in-mat-select-how-to-add-multiple-line-mat-option
// !important is used to override Angular's default styles

// the following styles are for dropdown menu




// ::ng-deep .mat-select-panel mat-option.mat-option {
//   height: unset !important;
//   padding-top: 0.5em !important;
//   padding-bottom: 0.5em !important;
// }

// ::ng-deep .mat-option-text.mat-option-text {
//   white-space: normal !important;
//   line-height: 1.5em !important;
// }

// // the following styles are for selected value
// ::ng-deep .mat-select-value {
//   height: unset !important;
// }

// ::ng-deep .mat-select-value-text {
//   white-space: normal !important;
//   line-height: 1.4em !important;
// }

.property-editor {
  padding: 16px;
}

//加
#property-editor-container {
  position: fixed;
  top: 80px;
  right: 0px;
  width: 50%;
  z-index: 3;
  user-select: none;
  background: white;
  border-radius: 3px;
}

#right-panel-content {
  min-height: 100%;
  max-height: calc(100vh - 200px);
  overflow-y: auto;
  display: inline-block;
  width: calc(100% - 47px);
}

#title {
  padding: 10px 0 4px 15px;
}

#dock {
  display: inline-block;
  vertical-align: top;
  padding-bottom: 10px;
}

.texera-workspace-property-editor-body {
  padding: 16px;
}
