.touranchor--is-active {
    position: relative;
    z-index: 10000;
   background: white;
}

.cdk-overlay-transparent-backdrop, .cdk-overlay-transparent-backdrop.cdk-overlay-backdrop-showing {
    opacity: 0.75;
    background: black;
}