<div class="saved-workflow-container subsection-grid-container">

  <nz-card class="workflow-section-title subsection-grid-container">
    <div class="d-inline-block" ngbDropdown>
      <a [nzDropdownMenu]="sortOptions" nz-dropdown>
        <button nz-button id="sortDropdown" ngbDropdownToggle>
          <i nz-icon nzType="sort-ascending" nzTheme="outline"></i>
        </button>
      </a>
      <nz-dropdown-menu #sortOptions="nzDropdownMenu">
        <ul nz-menu>
          <li nz-menu-item>
            <button (click)="lastSort()" class="sorting_func" nz-button>By Edit Time</button>
          </li>
          <li nz-menu-item>
            <button (click)="dateSort()" class="sorting_func" nz-button>By Create Time</button>
          </li>
          <li nz-menu-item>
            <button (click)="ascSort()" class="sorting_func" nz-button>A -> Z</button>
          </li>
          <li nz-menu-item>
            <button (click)="dscSort()" class="sorting_func" nz-button>Z -> A</button>
          </li>
        </ul>
      </nz-dropdown-menu>
      <button (click)="onClickCreateNewWorkflowFromDashboard()" nz-button type="button"
              ngbTooltip="Create a new workflow">
        <i nz-icon nzType="file-add" nzTheme="outline"></i></button>
    </div>
  </nz-card>

  <mat-card class="workflow-list subsection-grid-container">
    <mat-card-content>
      <mat-list>
        <div>
          <h2 class="page-title">Workflows</h2>
          <br/>
        </div>
        <div class="scroll">
          <mat-list-item *ngFor="let workflow of workflows" class="workflow-list-item">
            <h3 class="workflow-name" mat-line><label (click)="jumpToWorkflow(workflow)">{{workflow.name}}</label></h3>
            <p class="workflow-time" mat-line><br>
              Last Access: {{workflow.lastModifiedTime | date:'yyyy-MM-dd HH:mm'}}
              <span class="time-space"></span>
              Created: {{workflow.creationTime | date:'yyyy-MM-dd HH:mm'}}
            </p>
            <button (click)="onClickOpenShareAccess(workflow)" type="button" nz-button
                    ngbTooltip="Share the workflow {{workflow.name}} to others" placement="bottom">
              <i nz-icon nzType="share-alt" nzTheme="outline"></i>
            </button>
            <button (click)="onClickDuplicateWorkflow(workflow)" type="button" class="duplicate-workflow-btn" nz-button
                    ngbTooltip="Duplicate the workflow {{workflow.name}}" placement="bottom">
              <i nz-icon nzType="copy" nzTheme="outline"></i>
            </button>
            <button (click)="openNgbdModalDeleteWorkflowComponent(workflow)" class="delete-workflow-btn" nz-button
                    ngbTooltip="Delete the workflow {{workflow.name}}" placement="bottom">
              <i nz-icon nzType="delete" nzTheme="outline"></i>
            </button>
          </mat-list-item>

        </div>
      </mat-list>

    </mat-card-content>
  </mat-card>
</div>
