<div
  class = "grid-container texera-workspace"
  [ngClass]="{
  'texera-original-workspace-grid-container': !this.showResultPanel,
  'texera-workspace-grid-container': this.showResultPanel,
  'user-system-enabled': this.userSystemEnabled
}">
  <texera-workflow-editor class="texera-workflow-editor-grid-container grid-container"></texera-workflow-editor>
  <texera-result-panel-toggle class="texera-result-panel-toggle-grid-container"></texera-result-panel-toggle>
  <texera-result-panel class="texera-result-panel-grid-container grid-container"></texera-result-panel>
</div>

<texera-menu [pid]="pid"></texera-menu>
<span id="git-commit-id">Git hash: {{ gitCommitHash }}</span>
<texera-mini-map></texera-mini-map>
<texera-left-panel></texera-left-panel>
<texera-property-editor></texera-property-editor>
<ng-template #codeEditor></ng-template>
