<div [ngClass]="{
  'grid-container': true,
  'texera-workspace': true,
  'texera-original-workspace-grid-container': !this.showResultPanel,
  'texera-workspace-grid-container': this.showResultPanel,
  'user-system-enabled': this.userSystemEnabled
}">
<texera-menu [pid]="pid"></texera-menu>
<texera-left-panel></texera-left-panel>
<span id="git-commit-id">Version 0.5.3 <br />Git hash: {{ gitCommitHash }}</span>
<ng-template #codeEditor></ng-template>

<texera-property-editor></texera-property-editor>
<!-- <div
  cdkDrag
  id="property-editor-container"
  nz-resizable
  [nzMinWidth]="400"
  [nzMaxWidth]="800"
  [style.width.px]="propertyWidth"
  (nzResize)="onResize_property($event)">
    <div
      id="right-panel-content"
      *ngIf="this.propertyDisplay">
      <h6
        id="title"
        cdkDragHandle>
        Property
      </h6>
      <texera-property-editor></texera-property-editor>
    </div>
    <ul
      nz-menu
      id="dock">
      <li
        nz-menu-item
        (click)="onClose_property()"
        *ngIf="this.propertyDisplay">
        <span
          nz-icon
          nzType="minus"></span>
      </li>
      <li
        nz-menu-item
        nzSelected
        cdkDragHandle
        *ngIf="!this.propertyDisplay">
        <span
          nz-icon
          nzType="drag"
          *ngIf="!this.propertyDisplay"></span>
      </li>
      <li
        nz-menu-item
        nzSelected
        (click)="openPropertyPanel()">
        <span
          nz-icon
          nzType="form"
          nzTheme="outline"
          class="icon-right"></span>
      </li>
    </ul>
    <nz-resize-handles [nzDirections]="['left']"></nz-resize-handles>
</div> -->

<texera-mini-map></texera-mini-map>

<!-- <div
  cdkDrag
  id="mini-map-container"
  [style.width.px]="miniMapWidth">
    <div
      id="mini-map-content"
      *ngIf="this.minimapDisplay">
      <h6
        id="title"
        cdkDragHandle>
        Mini Map
      </h6>
      <texera-mini-map></texera-mini-map>
    </div>
    <ul
      nz-menu
      id="dock">
      <li
        nz-menu-item
        (click)="onClose_minimap()"
        *ngIf="this.minimapDisplay">
        <span
          nz-icon
          nzType="minus"></span>
      </li>
      <li
        nz-menu-item
        nzSelected
        cdkDragHandle
        *ngIf="!this.minimapDisplay">
        <span
          nz-icon
          nzType="drag"
          *ngIf="!this.minimapDisplay"></span>
      </li>
      <li
        nz-menu-item
        nzSelected
        (click)="openMiniMapPanel()">
        <span
          nz-icon
          nzType="compass"
          nzTheme="outline"
          class="icon-right"></span>
      </li>
    </ul>
</div> -->
<texera-workflow-editor class="texera-workflow-editor-grid-container grid-container"></texera-workflow-editor>
<texera-result-panel-toggle class="texera-result-panel-toggle-grid-container"></texera-result-panel-toggle>
<texera-result-panel class="texera-result-panel-grid-container grid-container"></texera-result-panel>
</div>
