.file-display-padding {
  width: 20px;
}

/* Styles for the delete button */
.delete-button {
  width: 15px;
  margin-left: 5px;
}

/* Styles for the file tree container */
.file-tree-container {
  height: 100%;
  overflow: auto;
}

//tree-root .fa-file {
//  //padding-left: 4%; /* Adjust the value as needed */
//}
//
//tree-root span {
//  display: inline-block;
//  max-width: 100%; /* Adjust the width as needed */
//  text-overflow: ellipsis;
//  white-space: nowrap;
//  overflow: hidden;
//}

.file-size {
  font-size: 12px;
  color: #8c8c8c;
  margin-left: auto;
}

.tree-node-content {
  display: flex;
  align-items: center;
  gap: 8px;
}

.delete-button {
  padding: 0 4px;
  margin-left: 8px;
}
