/**
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *   http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

.site-settings-section-title {
  background-color: lightcoral;
  border-radius: 4px;
  margin-bottom: 12px;

  .page-title {
    color: #fff;
    margin: 0;
  }
}

.logo-current-box {
  display: flex;
  align-items: center;
  gap: 32px;
  margin-bottom: 16px;
}

.logo-preview-img {
  max-width: 100px;
  max-height: 40px;
  object-fit: contain;
  border-radius: 6px;
  background: #f9f9f9;
  margin-left: 12px;
}

.upload-row {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 12px;
  margin-bottom: 10px;
}
