<div>
  <div
    cdkDrag
    cdkDragBoundary="body"
    id="left-panel-container"
    class="box"
    nz-resizable
    [nzMinWidth]="240"
    [nzMaxWidth]="screenWidth*0.5"
    [style.width.px]="width"
    (nzResize)="onResize($event)">
    <ul
      nz-menu
      id="left-dock"
      [ngClass]="{'shadow':  !width}"
      cdkDropList
      (cdkDropListDropped)="onDrop($event)">
      <li
        nz-menu-item
        (click)="onClose()"
        *ngIf="width">
        <span
          nz-icon
          nzType="minus"></span>
      </li>
      <li
        nz-menu-item
        nzSelected
        cdkDragHandle
        *ngIf="!width">
        <span
          nz-icon
          nzType="drag"></span>
      </li>
      <ng-container *ngFor="let i of order">
        <li
          nz-menu-item
          cdkDrag
          nzTooltipPlacement="right"
          nz-tooltip="{{items[i].title}}"
          nzSelected="{{currentComponent === items[i].component}}"
          *ngIf="items[i].enabled"
          (click)="openFrame(i)">
          <span
            nz-icon
            nzType="{{items[i].icon}}"></span>
        </li>
      </ng-container>
    </ul>
    <div id="left-panel-content" [hidden]="!currentComponent">
      <h4
        id="title"
        cdkDragHandle>
        {{title}}
      </h4>
      <ng-container *ngComponentOutlet="currentComponent;"></ng-container>
    </div>

    <nz-resize-handles [nzDirections]="['right']"></nz-resize-handles>
  </div>
</div>
