:host {
  display: block;
  padding: 16px;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.selection-row {
  display: flex;
  gap: 16px;
}

.nz-select {
  width: 100%;
}

.select-dataset {
  flex: 0 0 60%;
}

.select-version {
  flex: 1;
}

.texera-user-dataset-version-filetree {
  margin-top: 16px;
}

.dataset-option {
  display: flex;
  align-items: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.dataset-id-container {
  background-color: grey;
  color: white;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  margin-right: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}




