<div class="container">
  <nz-select
    nzShowSearch
    nzAllowClear
    nzPlaceHolder="Select dataset"
    [(ngModel)]="selectedDataset"
    (ngModelChange)="onDatasetChange()"
  >
    <nz-option *ngFor="let dataset of datasets" [nzValue]="dataset" [nzLabel]="dataset.dataset.name"></nz-option>
  </nz-select>

  <nz-select
    nzShowSearch
    nzAllowClear
    nzPlaceHolder="Select version"
    [(ngModel)]="selectedVersion"
    (ngModelChange)="onVersionChange()"
    [nzDisabled]="!selectedDataset"
  >
    <nz-option *ngFor="let version of datasetVersions" [nzValue]="version" [nzLabel]="version.name"></nz-option>
  </nz-select>

  <button nz-button (click)="showFiles()" [disabled]="!selectedVersion">Show Files</button>

  <texera-user-dataset-version-filetree
    *ngIf="suggestedFileTreeNodes.length > 0"
    [isExpandAllAfterViewInit]="true"
    [fileTreeNodes]="suggestedFileTreeNodes"
    (selectedTreeNode)="onFileTreeNodeSelected($event)"
  ></texera-user-dataset-version-filetree>
</div>
