:host {
  display: block;
  padding: 16px;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.selection-row {
  display: flex;
  gap: 16px;
}

.nz-select {
  width: 100%;
}

.select-dataset {
  flex: 0 0 60%; 
}

.select-version {
  flex: 1; 
}

.texera-user-dataset-version-filetree {
  margin-top: 16px;
}