<!--
 Licensed to the Apache Software Foundation (ASF) under one
 or more contributor license agreements.  See the NOTICE file
 distributed with this work for additional information
 regarding copyright ownership.  The ASF licenses this file
 to you under the Apache License, Version 2.0 (the
 "License"); you may not use this file except in compliance
 with the License.  You may obtain a copy of the License at

   http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing,
 software distributed under the License is distributed on an
 "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 KIND, either express or implied.  See the License for the
 specific language governing permissions and limitations
 under the License.
-->

<nz-layout class="layout">
  <nz-sider
    nzCollapsible
    [nzCollapsedWidth]="45"
    (nzCollapsedChange)="handleCollapseChange($event)"
    nzTheme="light">
    <ul
      nz-menu
      nzMode="inline"
      nzSelectable="false">
      <li class="logo-section">
        <img
          *ngIf="miniLogo && isCollapsed"
          alt="mini-logo"
          [src]="miniLogo"
          class="collapsed-logo" />
        <img
          *ngIf="logo && !isCollapsed"
          alt="logo"
          height="50"
          [src]="logo" />
      </li>

      <li
        *ngIf="isHubEnabled"
        nz-submenu
        nzTitle="Hub"
        nzIcon="usergroup-add"
        nzOpen="true"
        [class.ant-menu-submenu-selected]="isHubRoute()">
        <texera-hub [isLogin]="isLogin"></texera-hub>
      </li>

      <ng-container *ngFor="let group of sidebarTabs">
        <ng-container
          *ngIf="group.enabled && group.group !== 'Hub'&&
    (group.group !== 'Your Work' || isLogin) &&
    (group.group !== 'Admin' || isAdmin)">
          <li
            *ngIf="group.children && group.children.length > 0;"
            nz-submenu
            [nzTitle]="group.group"
            [nzIcon]="group.icon"
            nzOpen="true">
            <ul>
              <ng-container *ngFor="let t of group.children">
                <li
                  *ngIf="t.enabled"
                  nz-menu-item
                  nzMatchRouter="true"
                  [routerLink]="t.route"
                  nz-tooltip
                  [nzTooltipTitle]="t.tooltip"
                  nzTooltipPlacement="right">
                  <span
                    nz-icon
                    [nzType]="t.icon"></span>
                  <span>{{ t.label }}</span>
                </li>
              </ng-container>
            </ul>
          </li>
          <li
            *ngIf="!group.children || group.children.length === 0"
            nz-menu-item
            nzMatchRouter="true"
            [routerLink]="group.route"
            nz-tooltip
            [nzTooltipTitle]="group.tooltip"
            nzTooltipPlacement="right">
            <span
              nz-icon
              [nzType]="group.icon"></span>
            <span>{{ group.group }}</span>
          </li>
        </ng-container>
      </ng-container>
    </ul>
    <span id="git-commit-id">Git hash: {{ gitCommitHash }}</span>
  </nz-sider>

  <div class="page-container">
    <nz-layout>
      <div
        [hidden]="!displayNavbar"
        id="nav">
        <texera-search-bar></texera-search-bar>
        <ng-container *ngIf="isLogin">
          <texera-user-icon></texera-user-icon>
        </ng-container>
        <asl-google-signin-button
          *ngIf="!isLogin && this.config.env.googleLogin"
          type="standard"
          size="large"
          [width]="200"></asl-google-signin-button>
      </div>

      <nz-content>
        <router-outlet></router-outlet>
      </nz-content>
    </nz-layout>
  </div>
</nz-layout>
