<nz-modal [nzVisible]="isModalVisible" nzTitle='Add Dictionary' (nzOnCancel)='closeModal()'>
  <div class="modal-body">
    <nz-tabset (nzSelectedIndexChange)="onTabChangeEvent($event)">
      <!-- upload files tab -->
      <nz-tab nzTitle="Upload">
        <div ng2FileDrop [ngClass]="{'have-file-over': haveDropZoneOver}" (fileOver)="haveFileOver($event)"
          (onFileDrop)="getFileDropped($event)" [uploader]="uploader" class="drag-file-area"
          (click)="clickUpload.click()">

          Drop Files Here
          <div id="hide">
            <input #clickUpload type="file" accept=".txt" (change)="saveUploadFile($event)" multiple />
          </div>

        </div>
        <div *ngIf="uploader.queue.length">
          <li *ngFor="let item of uploader.queue" class="file-queue-item">
            <span>
              <label>{{ item.file.name }}</label>
              <label *ngIf="checkThisFileInvalid(item._file)" class="invalid-file">*Invalid</label>
            </span>
            <button class="queue-delete-button" (click)="removeFile(item)">
              <i class="fa fa-trash" aria-hidden="true"></i>
            </button>
          </li>
          <div *ngIf="invalidFileTypeCounter || duplicateFiles.length">
            <button type="button" class="delete-all-invalid-button btn btn-outline-dark"
              (click)="deleteAllInvalidFile()">Delete Invalid Files</button>
            <label *ngIf="invalidFileTypeCounter" class="invalid-file-warning">
              *You can only upload .txt file
            </label>
            <label *ngIf="duplicateFiles.length" class="invalid-file-warning">
              *You cannot upload files with duplicate names
            </label>
          </div>
        </div>
      </nz-tab>

      <!-- tab for manual dictionary creation by the user -->
      <nz-tab nzTitle="Add Manually">
        <div class="add-dictionary-container">
          <form nz-form [formGroup]="validateForm">
            <nz-form-item>
              <nz-form-label [nzSpan]="3" nzRequired = "true" nzNoColon = "true" ></nz-form-label>
              <nz-form-control [nzSpan]="18" nzErrorTip="Name is Required">
                <input nz-input [(ngModel)]="dictName" placeholder="Name of Dictionary"
                name="name"
                formControlName="name">
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-label [nzSpan]="3" nzRequired = "true" nzNoColon = "true"></nz-form-label>
              <nz-form-control [nzSpan]="18" nzErrorTip="Content is Required">
                <textarea nz-input style="resize: none;" [(ngModel)]="dictContent" placeholder="Content of Dictionary"
                  name="content" formControlName="content">
              </textarea>
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-label [nzSpan]="3" nzRequired = "false" nzNoColon = "true"></nz-form-label>
              <nz-form-control [nzSpan]="18">
                <input nz-input [(ngModel)]="dictSeparator"
                  placeholder="Content Separator (' , '    ' \\t '    ' \\n ')" name = "separator" formControlName="separator">
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-label [nzSpan]="3" nzRequired = "true" nzNoColon = "true"></nz-form-label>
              <nz-form-control [nzSpan]="18" nzErrorTip="Description is Required">
                <input nz-input [(ngModel)]="dictionaryDescription" placeholder="Dictionary Description"
                  name = "description" formControlName="description">
              </nz-form-control>
            </nz-form-item>
          </form>
        </div>
      </nz-tab>
    </nz-tabset>

  </div>
  <div *nzModalFooter>
    <div>
      <button nz-button nzType='default' (click)="closeModal()">Cancel</button>
      <button nz-button nzType='primary' (click)="isInUploadFileTab ? uploadFiles(): submitDictionary()"
        [disabled]="isInUploadFileTab ? ( uploader.queue.length == 0 || invalidFileTypeCounter || duplicateFiles.length) : false"
        [nzLoading]="isUploading" style='min-width: 85px'>
        {{isInUploadFileTab ? 'Upload':'Add' }}
      </button>
    </div>
  </div>
</nz-modal>
