<div class="collapse navbar-collapse"> 
	<div class="nav navbar-nav navbar-left btn-toolbar">Add Operator:</div>
	
	<div class="nav navbar-nav navbar-left btn-toolbar previous-operators">
		<div class="btn btn-default navbar-btn draggable_operator ui-draggable ui-draggable-handle" data-nb-inputs="1" data-nb-outputs="1">Regex</div>
		<div class="btn btn-default navbar-btn draggable_operator ui-draggable ui-draggable-handle" data-nb-inputs="1" data-nb-outputs="1">Keyword</div>
		<div class="btn btn-default navbar-btn draggable_operator ui-draggable ui-draggable-handle" data-nb-inputs="1" data-nb-outputs="1">NLP</div>
		<div class="btn btn-default navbar-btn draggable_operator ui-draggable ui-draggable-handle" data-nb-inputs="2" data-nb-outputs="1">Join</div>
        <modal #modal>
            <modal-header>
                <h4 class="modal-title">I'm a modal!</h4>
            </modal-header>
            <modal-body>
                Hello World!
            </modal-body>
            <modal-footer>
                <button type="button" class="btn btn-default" data-dismiss="modal" (click)="modal.dismiss()">Cancel</button>
                <button type="button" class="btn btn-primary" (click)="modal.close()">Ok</button>
            </modal-footer>
        </modal>
	</div>
</div>