<div id="sidebar-wrapper">

    <div [hidden]="!tempSubmitted" class="temp-result">
        <h3 class="sidebar-brand">Returned Data</h3>
        <!--<div *ngFor="let key of tempArrayOfData">-->
            <!--<span class="badge">{{key}}</span> {{tempData[key]}}-->
        <!--</div>-->
        <div>{{tempData | json}}</div>
    </div>


    <div [hidden]="submitted || tempSubmitted || attributes.length === 0">
        <h3 class="sidebar-brand">Edit {{operator}}</h3>
        <form (ngSubmit)="onSubmit()" #editOperatorForm="ngForm">
            <div class="form-group" *ngFor="let attribute of attributes">
                <label for="{{attribute}}">{{humanize(attribute)}}</label>
                <select *ngIf="attribute === 'matching_type'" class="form-control" id="{{attribute}}" required  [(ngModel)]="data.properties.attributes[attribute]" name="{{attribute}}" #{{attribute}}="ngModel">
                  <option *ngFor="let matcher of matcherList" [value] = "matcher">{{matcher}}</option>
                </select>
                <select *ngIf="attribute === 'nlp_type'" class="form-control" id="{{attribute}}" required  [(ngModel)]="data.properties.attributes[attribute]" name="{{attribute}}" #{{attribute}}="ngModel">
                  <option *ngFor="let nlp of nlpList" [value] = "nlp">{{nlp}}</option>
                </select>
                <select *ngIf="attribute === 'predicate_type'" class="form-control" id="{{attribute}}" required  [(ngModel)]="data.properties.attributes[attribute]" name="{{attribute}}" #{{attribute}}="ngModel">
                  <option *ngFor="let predicate of predicateList" [value] = "predicate">{{predicate}}</option>
                </select>
                <input *ngIf="checkInSelector(attribute) === -1" [(ngModel)]="data.properties.attributes[attribute]" name="{{attribute}}" type="text" class="form-control" id="{{attribute}}" value="{{data.properties.attributes[attribute]}}" #{{attribute}}="ngModel" required>
            </div>
            <button type="submit" class="btn btn-success" [disabled]="!editOperatorForm.form.valid">Save</button>
            <button type="button" class="btn btn-default" (click) = "onDelete()">Delete</button>


        </form>
    </div>
    <div [hidden]="!submitted">
        <h2>New Attributes:</h2>
        <div *ngFor="let attribute of attributes">
            <div>{{humanize(attribute)}}: {{data.properties.attributes[attribute]}}</div>
        </div>
        <button class="btn btn-primary" (click)="submitted=false">Edit</button>
    </div>
</div>
