<div class="computing-units-selection" [ngClass]="{ 'metrics-visible': isComputingUnitRunning() }">
  <div
    *ngIf="isComputingUnitRunning()"
    nz-button
    nz-popover
    [nzPopoverContent]="selectedComputingUnit ? metricsTemplate : undefined"
    nzPopoverTrigger="hover"
    nzPopoverPlacement="bottom"
    id="metrics-container-id"
    class="metrics-container">
    <div class="metric-item">
      <span class="metric-label">CPU</span>
      <nz-progress
        id="cpu-progress-bar"
        [nzPercent]="(getCpuPercentage() | number:'1.0-0')"
        [nzStrokeColor]="'#52c41a'"
        [nzStatus]=getCpuStatus()
        nzType="line"
        [nzStrokeWidth]="8"
        [nzShowInfo]="false"
      ></nz-progress>
    </div>

    <div class="metric-item">
      <span class="metric-label">Memory</span>
      <nz-progress
        id="memory-progress-bar"
        [nzPercent]="(getMemoryPercentage() | number:'1.0-0')"
        [nzStrokeColor]="'#1890ff'"
        [nzStatus]=getMemoryStatus()
        nzType="line"
        [nzStrokeWidth]="8"
        [nzShowInfo]="false"
      ></nz-progress>
    </div>
  </div>

  <button
    nz-button
    nz-dropdown
    nzTrigger="click"
    [nzDropdownMenu]="menu"
    [nzPlacement]="'bottomRight'"
    class="computing-units-dropdown-button">
    <nz-badge nzStatus="processing" [nzText]="''"></nz-badge>
    <span *ngIf="selectedComputingUnit" nz-tooltip [nzTooltipTitle]="getComputingUnitName(selectedComputingUnit.uri)">
      Connected
    </span>
    <span *ngIf="!selectedComputingUnit">Connect</span>
    <i nz-icon nzType="down"></i>
  </button>

  <nz-dropdown-menu #menu="nzDropdownMenu" >
    <ul nz-menu class="computing-units-dropdown">
      <li
        nz-menu-item
        *ngFor="let unit of computingUnits"
        class="computing-unit-option"
        (click)="selectedComputingUnit = unit; onComputingUnitChange(unit)">
        <div class="computing-unit-option-content">
          <nz-badge [nzColor]="getBadgeColor(unit.status)" [nzText]="''"></nz-badge>
          <span class="unit-details">
            <span nz-tooltip [nzTooltipTitle]="unit.computingUnit.name">
              {{ getComputingUnitName(unit.uri) }}
            </span>
          </span>
          <i
            class="terminate-icon"
            nz-icon
            nzType="close"
            nz-tooltip
            [nzTooltipTitle]="'Terminate ' + getComputingUnitName(unit.uri)"
            (click)="terminateComputingUnit(unit.computingUnit.cuid); $event.stopPropagation()"></i>
        </div>
      </li>
      <li nz-menu-divider></li>
      <li nz-menu-item (click)="startComputingUnit()">
        <i nz-icon nzType="plus"></i>Computing Unit
      </li>
    </ul>
  </nz-dropdown-menu>
</div>

<ng-template #metricsTemplate>
  <div class="resource-metrics">
    <div class="cpu-metric general-metric">
      <p class="metric-name">CPU</p>
      <p class="metric-value">
        {{getCpuValue() | number:'1.2-2' || '0.00'}}
        <span class="metric-unit">/ {{getCpuLimit()}} {{getCpuLimitUnit()}}</span>
      </p>
    </div>
    <div class="memory-metric general-metric">
      <p class="metric-name">Memory</p>
      <p class="metric-value">
        {{getMemoryValue() | number:'1.2-2' || '0.00'}}
        <span class="metric-unit">/ {{getMemoryLimit()}} {{getMemoryLimitUnit()}}</span>
      </p>
    </div>
  </div>
</ng-template>
