<div class="computing-units-selection">
  <button nz-button
          nz-popover
          [nzPopoverContent]="selectedComputingUnit ? metricsTemplate : undefined"
          nzPopoverTrigger="click"
          nzPopoverPlacement="bottom"
          id="metrics-container-id"
          class="metrics-container">
    <div class="metric-item">
      <span class="metric-label">CPU</span>
      <nz-progress
        id="cpu-progress-bar"
        [nzPercent]="(getCpuPercentage() | number:'1.0-0')"
        [nzStrokeColor]="'#52c41a'"
        [nzStatus]=getCpuStatus()
        nzType="line"
        [nzStrokeWidth]="8"
        [nzShowInfo]="false"
      ></nz-progress>
    </div>

    <div class="metric-item">
      <span class="metric-label">Memory</span>
      <nz-progress
        id="memory-progress-bar"
        [nzPercent]="(getMemoryPercentage() | number:'1.0-0')"
        [nzStrokeColor]="'#1890ff'"
        [nzStatus]=getMemoryStatus()
        nzType="line"
        [nzStrokeWidth]="8"
        [nzShowInfo]="false"
      ></nz-progress>
    </div>
  </button>

  <nz-select
    id="computing-units-list"
    nzSize="default"
    nzShowSearch
    nzAllowClear
    [nzDropdownRender]="renderTemplate"
    nzPlaceHolder="Select a computing unit"
    [(ngModel)]="selectedComputingUnit"
    (ngModelChange)="onComputingUnitChange($event)">
    <nz-option
      *ngFor="let unit of computingUnits"
      nzCustomContent
      [nzLabel]="getComputingUnitName(unit.uri).toString()"
      [nzValue]="unit">
      <div class="computing-unit-option" id="computing-unit-option-id">
        <!-- Badge with state -->
        <nz-badge
          [nzColor]="getBadgeColor(unit.status)"
          [nzText]="''">
          <span
            nz-icon
            nzType="deployment-unit"></span>
        </nz-badge>

        <!-- Name and tooltip -->
        <span class="unit-details">
          <span
            nz-tooltip
            [nzTooltipTitle]="unit.computingUnit.name"
            >{{ getComputingUnitName(unit.uri) }}</span
          >
          <div
            class="terminate-icon"
            nz-icon
            nzType="close"
            nz-tooltip
            [nzTooltipTitle]="'Terminate ' + getComputingUnitName(unit.uri)"
            (click)="terminateComputingUnit(unit.computingUnit.cuid)"></div>
        </span>
      </div>
    </nz-option>
  </nz-select>
</div>

<ng-template #renderTemplate>
  <div class="dropdown-footer">
    <button
      class="create-unit"
      nz-button
      nzType="primary"
      nzBlock
      (click)="startComputingUnit()">
      Start
    </button>
  </div>
</ng-template>

<ng-template #metricsTemplate>
  <div class="resource-metrics">
    <div class="cpu-metric general-metric">
      <p class="metric-name">CPU</p>
      <p class="metric-value">
        {{getCpuValue() | number:'1.2-2' || '0.00'}}
        <span class="metric-unit">/ {{getCpuLimit()}} {{getCpuLimitUnit()}}</span>
      </p>
    </div>
    <div class="memory-metric general-metric">
      <p class="metric-name">Memory</p>
      <p class="metric-value">
        {{getMemoryValue() | number:'1.2-2' || '0.00'}}
        <span class="metric-unit">/ {{getMemoryLimit()}} {{getMemoryLimitUnit()}}</span>
      </p>
    </div>
  </div>
</ng-template>
