.computing-units-selection {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  width: 350px;
  gap: 10px;
}

nz-option {
  height: 100%;
}

.computing-unit-option {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 10px;
}

.unit-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  flex-grow: 1;
}

.terminate-icon {
  color: red;
  cursor: pointer;
  width: 16px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid red;
  border-radius: 50%;
  padding: 1px;
}

.create-unit {
  width: 65%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.dropdown-footer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.terminate-icon:hover {
  opacity: 0.8; /* Slight opacity on hover for visual feedback */
}

#computing-units-list {
  width: 225px;
}

.metrics-container {
  display: grid;
  align-items: center;
  grid-template-rows: repeat(2, 1fr);
  gap: 3px;
  height: 32px;
  width: 100%;
  padding: 0;
  border: none;
}

.metric-item {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  height: 16px;
  align-items: center;
}

#cpu-progress-bar, #memory-progress-bar {
  height: 16px;
}

.metric-label {
  font-size: 10px;
}

.resource-metrics {
  width: 250px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
  justify-content: start;
  align-items: center;
  gap: 5px;
}

.general-metric {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #f9fafb;
  border-radius: 3px;
  padding: 10px;
  gap: 3px;
}

.metric-unit {
  font-size: 8px;
}

.metric-name {
  font-size: 10px;
  margin: 0;
}

.metric-value {
  margin: 0;
}
