<nz-card class="user-dictionary-container subsection-grid-container">
  <div class="button-area subsection-grid-container">
    <div ngbDropdown class="d-inline-block">
      <button nz-button nz-dropdown [nzDropdownMenu]="menu" id="sortDropdown">Sort<i nz-icon nzType="down"></i></button>
      <nz-dropdown-menu #menu="nzDropdownMenu">
        <ul nz-menu>
          <li nz-menu-item>
            <a nz-button nzType='link' class='ant-btn-link sorting_func' (click)="sizeSort()">By Dictionary Size</a>
          </li>
          <li nz-menu-item>
            <a nz-button nzType='link' class='ant-btn-link sorting_func' (click)="ascSort()">A -> Z</a>
          </li>
          <li nz-menu-item>
            <a nz-button nzType='link' class='ant-btn-link sorting_func' (click)="dscSort()">Z -> A</a>
          </li>
        </ul>
      </nz-dropdown-menu>
      <button nz-button (click)="openNgbdModalResourceAddComponent()"><i nz-icon nzType="cloud-upload"
          nzTheme="outline"></i></button>
    </div>
  </div>

  <div class="user-dictionary-list subsection-grid-container">
    <nz-divider nzText="User Dictionaries"></nz-divider>
    <div class="scroll">
      <div *ngFor="let dictionary of userDictionaries" class="user-dictionary-list-item">
        <div class='user-dictionary-item-grid'>
          <h3 class="user-dictionary-name">
            {{dictionary.name}}
          </h3>
          <p class="user-dictionary-preview" nz-popover nzPopoverPlacement="bottomLeft"
            nzPopoverContent="Description: {{dictionary.description}}">
            Item Preview:
            <nz-tag class="preview-item" *ngFor="let item of dictionary.items.slice(0,3)">
              {{item}}
            </nz-tag>
          </p>
          <nz-button-group class="user-dictionary-item-buttons">
            <button nz-button (click)="openNgbdModalResourceViewComponent(dictionary)"><i nz-icon nzType="edit"
                nzTheme="outline"></i></button>
            <button nz-button placement="bottom" (click)="openNgbdModalResourceDeleteComponent(dictionary)"><i nz-icon
                nzType="delete" nzTheme="outline"></i></button>
          </nz-button-group>
        </div>
      </div>
    </div>
  </div>

</nz-card>

<ng-template texeraUserDictionarySectionModalRoot>
  <!-- modals dynamically loaded here-->
</ng-template>
