<h3 *ngIf="formTitle" class="texera-workspace-property-editor-title" mat-subheader>
  {{formTitle}}
</h3>

<form *ngIf="formlyFields" [formGroup]="formlyFormGroup" class="texera-workspace-property-editor-form">
  <formly-form (modelChange) = "onFormChanges($event)"
               [fields]="formlyFields"
               [form]="formlyFormGroup"
               [model]="formData"
               [options]="formlyOptions">
  </formly-form>
  <ndc-dynamic [ndcDynamicComponent]="extraDisplayComponent"></ndc-dynamic>
  <ndc-dynamic
    [ndcDynamicComponent]="extraDisplayComponent"
    [ndcDynamicInputs]="extraDisplayComponentInputs"
  ></ndc-dynamic>
</form>

<texera-type-casting-display [operatorID]='currentOperatorID'></texera-type-casting-display>


