::ng-deep .highlighted .mat-form-field-flex {
  outline: 3px solid rgb(255, 118, 20);
  transition: 0.3s ease-in-out outline;
}

#formly-title {
  position: relative;

  h3 {
    margin: 0;
    display: inline-block;
  }

  button {
    position: absolute;
    top: 45%;
    transform: translateY(-55%);
  }
}
