<h3
  *ngIf="formTitle"
  class="texera-workspace-property-editor-title"
  mat-subheader
>
  {{ formTitle }}
</h3>

<form
  *ngIf="formlyFields"
  [formGroup]="formlyFormGroup"
  class="texera-workspace-property-editor-form"
>
  <formly-form
    (modelChange)="onFormChanges($event)"
    [fields]="formlyFields"
    [form]="formlyFormGroup"
    [model]="formData"
    [options]="formlyOptions"
  >
  </formly-form>
  <ndc-dynamic
    [ndcDynamicComponent]="extraDisplayComponentConfig?.component"
    [ndcDynamicInputs]="extraDisplayComponentConfig?.componentInputs"
  ></ndc-dynamic>
</form>

<button
  nz-button
  nz-tooltip="Unlock the operator to change logic"
  nzTooltipPlacement="bottom"
  (click)="allowChangeOperatorLogic()"
  *ngIf="
		currentOperatorId !== undefined &&
		(this.executeWorkflowService.getExecutionState().state ===
			ExecutionState.Paused ||
			this.executeWorkflowService.getExecutionState().state ===
				ExecutionState.BreakpointTriggered) &&
		this.interactive === false"
>
  Unlock for Logic Change
  <i nz-icon nzType="unlock" nzTheme="outline"></i>
</button>

<button
  nz-button
  nz-tooltip="Confirm change and modify the operator runtime"
  nzTooltipPlacement="bottom"
  (click)="confirmChangeOperatorLogic()"
  *ngIf="
		currentOperatorId !== undefined &&
		(this.executeWorkflowService.getExecutionState().state ===
			ExecutionState.Paused ||
			this.executeWorkflowService.getExecutionState().state ===
				ExecutionState.BreakpointTriggered) &&
		this.interactive === true"
>
  Confirm Change
</button>
