<nz-list class="feature-bar-outline">
  <nz-list-item>
    <button nz-button nzType="link" class="feature-bar-btn" [routerLink]="['/dashboard/savedproject']" placement="right"
      ngbTooltip="Open the saved user projects">
      <span><i nz-icon nzType="folder" nzTheme="outline"></i></span>
      Saved Project</button>
  </nz-list-item>
  <nz-list-item>
    <button nz-button nzType="link" class="feature-bar-btn" [routerLink]="['/dashboard/userdictionary']"
      placement="right" ngbTooltip="Look up the user dictionaries">

      <span><i nz-icon nzType="book" nzTheme="outline"></i></span>
      User Dictionary</button>
  </nz-list-item>
  <nz-list-item>
    <button nz-button nzType="link" class="feature-bar-btn" [routerLink]="['/dashboard']" placement="right"
      ngbTooltip="Check the running processes">
      <span><i nz-icon nzType="play-circle" nzTheme="outline"></i></span>
      Running Project</button>
  </nz-list-item>
  <nz-list-item>
    <button nz-button nzType="link" class="feature-bar-btn" [routerLink]="['/dashboard']" placement="right"
      ngbTooltip="Check the data sources">
      <span><i nz-icon nzType="database" nzTheme="outline"></i></span>
      Data Source</button>
  </nz-list-item>
</nz-list>
