<!--TODO: change to nz-menu-->
<nz-list nzBordered nzSize="small">
  <nz-list-item>
    <button class="feature-bar-btn " nz-button [routerLink]="['/dashboard/workflow']"
            nz-tooltip="Open the saved workflows" nzTooltipPlacement="right">
      <i nz-icon nzType="project" nzTheme="outline"></i>
      Workflows
    </button>
  </nz-list-item>
  <nz-list-item>
    <button class="feature-bar-btn " nz-button [routerLink]="['/dashboard/user-file']"
            nz-tooltip="Look up the user files" nzTooltipPlacement="right">
      <i nz-icon nzType="folder-open" nzTheme="outline"></i>
      User Files
    </button>
  </nz-list-item>

  <!--  <button mat-button class="feature-bar-btn" [routerLink]="['/dashboard/userdictionary']" placement="right"-->
  <!--    ngbTooltip="Look up the user dictionaries">-->
  <!--    <i class="fa fa-book" aria-hidden="true"></i>-->
  <!--    User Dictionary</button>-->
  <!--  <mat-divider></mat-divider>-->
  <!--  <button mat-button class="feature-bar-btn" [routerLink]="['/dashboard']" placement="right"-->
  <!--    ngbTooltip="Check the running processes">-->
  <!--    <i class="fa fa-align-left"></i>-->
  <!--    Running Workflow-->
  <!--  </button>-->
  <!--  <mat-divider></mat-divider>-->
  <!--  <button mat-button class="feature-bar-btn" [routerLink]="['/dashboard']" placement="right"-->
  <!--    ngbTooltip="Check the data sources">-->
  <!--    <i class="fa fa-database" aria-hidden="true"></i>-->
  <!--    Data Source</button>-->
  <!--  <mat-divider></mat-divider>-->

</nz-list>
