
.texera-operator-label-body {
  padding: 12px 5px 12px 5px;
  margin: -12px 0px -12px 0px;
  user-select: none;
  color: #000;
  border: 1px solid #fff;
  border-radius: 4px;
  transition: color 0.3s, border 0.4s 0.1s;
  &:hover {
      border: 1px solid #1890ff;
      color: #1890ff;
      cursor: pointer;
  }
}

// sets the style for the popup tooltips,
// ::ng-deep is needed to force the style down to all the tooltip windows
.texera-operator-label-body ::ng-deep .tooltip-inner{
  color: black;
  background: lightgray;
}
