<div class="texera-workspace-operator-panel-body">
  <div class="texera-workspace-search-box">
    <form nz-form class="texera-workspace-operator-search-form">
      <div nz-dropdown [nzDropdownMenu]="autocomplete_menu" nzTrigger = "click" nzBackdrop = "false"
        class="texera-workspace-operator-search-form-field" appearance="outline">
        <input nz-input id="texera-workspace-operator-search-form-input" type="text" placeholder="Search Operator..."
          aria-label="Operator-Search" [formControl]="operatorSearchFormControl" autocomplete="off" >

      </div>
      <nz-dropdown-menu #autocomplete_menu="nzDropdownMenu" id="texera-workspace-operator-search-form-autocomplete"
        (optionSelected)="onSearchOperatorSelected($event)">
        <nz-list [hidden]="!isOperatorSearchResultVisible" nzBordered class='texera-workspace-operator-search-form-autocomplete-list'>
          <nz-list-item *ngFor="let operatorSchema of operatorSearchResults | async">
            <texera-operator-label class="texera-operator-name-wrapper" [operator]="operatorSchema"
              [fromSearchBox]="true"></texera-operator-label>
          </nz-list-item>
        </nz-list>

      </nz-dropdown-menu>
    </form>
  </div>
  <nz-collapse nzAccordion>
    <nz-collapse-panel class="texera-operator-group-panel" *ngFor="let groupName of groupNamesOrdered"
      [nzHeader]="groupName">
      <nz-list>
        <nz-list-item *ngFor="let operatorSchema of operatorGroupMap.get(groupName)">
          <texera-operator-label class="texera-operator-name-wrapper" [operator]="operatorSchema"
            [fromSearchBox]="false"></texera-operator-label>
        </nz-list-item>
      </nz-list>
    </nz-collapse-panel>
  </nz-collapse>
</div>
