@import '../workspace.component.scss';

.texera-workspace-search-box {
  padding: 10px;
}

.texera-workspace-operator-search-form {
  max-width: 500px;
  width: 100%;
}

.texera-workspace-operator-search-form-field {
  width: 100%;
}

.texera-operator-name-wrapper {
  width: 100%;
}

.texera-operator-group-list{
  border-right: none;
}

.texera-operator-list-item {
  user-select: none;
}

#texera-workspace-operator-search-form-autocomplete{
  background-color: #fff;
}

.texera-workspace-operator-search-form-autocomplete-list{
  background-color: #fff;
}

#texera-workspace-operator-search-form-input{
  width: 100%;
}
