<!--
 Licensed to the Apache Software Foundation (ASF) under one
 or more contributor license agreements.  See the NOTICE file
 distributed with this work for additional information
 regarding copyright ownership.  The ASF licenses this file
 to you under the Apache License, Version 2.0 (the
 "License"); you may not use this file except in compliance
 with the License.  You may obtain a copy of the License at

   http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing,
 software distributed under the License is distributed on an
 "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 KIND, either express or implied.  See the License for the
 specific language governing permissions and limitations
 under the License.
-->

<button
  nz-button
  nz-dropdown
  [nzDropdownMenu]="quickStepsMenu"
  nzPlacement="bottomRight"
  title="Quick Steps"
  class="quick-steps-trigger">
  <span class="quick-steps-trigger__icon">⚡</span>
  <span class="quick-steps-trigger__label">Quick Steps</span>
</button>

<nz-dropdown-menu #quickStepsMenu="nzDropdownMenu">
  <ul nz-menu class="quick-steps-menu">
    <li
      nz-menu-item
      *ngFor="let quickStep of quickSteps"
      (click)="run(quickStep)">
      <div class="quick-steps-menu__row">
        <span class="quick-steps-menu__icon">{{ quickStep.icon || "⚡" }}</span>
        <div class="quick-steps-menu__text">
          <div class="quick-steps-menu__name">{{ quickStep.name }}</div>
          <div class="quick-steps-menu__desc">{{ quickStep.description }}</div>
        </div>
        <span class="quick-steps-menu__count">{{ quickStep.steps.length }} steps</span>
      </div>
    </li>
    <li *ngIf="quickSteps.length === 0" nz-menu-item nzDisabled>
      <span class="quick-steps-menu__empty">No quick steps yet.</span>
    </li>
    <li nz-menu-divider></li>
    <li nz-menu-item (click)="openCreate()">
      <span nz-icon nzType="plus"></span>
      <span>Create Quick Step</span>
    </li>
  </ul>
</nz-dropdown-menu>
